@page
@model BlackjackModel
@{
}

<h1>Chat</h1>

<form id="play-form" action="#">
    Send a message: 
    <input type="text" id="play-textbox" disabled /> 
    <button id="play-button" type="submit" disabled>Send</button>
</form>

<ul id="play-list">
</ul>